/*NAV BAR*/
.navbar{
    background: #453A49;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    padding-right: 0px;
    height: 80px;
    z-index: 1;
    max-width: 1300px;
    margin: 0 auto;
}

#navbar__logo{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    justify-content: space-between;
}

#navbar__logoimg{
    height: 70px;
    width: 70px;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;   
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 800px;

}

.navbar__item{
    height: 80px;
}

#navbar__links,
#navbar__links_two,
#navbar__links_three,
#navbar__links_right {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__menu_two {
    margin-left: auto;
    list-style: none;
}

.navbar_right__item{
    padding: 0 20px 0 0;
}

#user_icon{
    margin-right: 5px;
}

/*BODY*/
.principal_section {
    background-image: url("../images/plane-photo.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: calc(100vh - 80px);
}

#title_vuelos{
    background-color: #D9D9D9;
    width: 80px;
    height: 40px;
    color: black;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    left: 105px;
    top: 432px;
    border-radius: 5%;
}

#buscador_vuelos{
    background-color: #D9D9D9;
    color: black;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    height: 150px;
    top: 470px;
    left: 90px;
    border-radius: 2%;
}

#inputs_destinos{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 100px;
}

#cambiar_destinos{
    background-color: #282F44;
    cursor: pointer;
}

#ciudad_ida{
    width: 250px;    
    margin-bottom: 5px;
}

#ciudad_vuelta{
    width: 250px;
    margin-top: 5px;
}

#seleccion_fechas{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 400px;
}

#fecha_ida{
    margin-right: 5px;
    margin-left: 5px;
}

#fecha_vuelta{
    margin-right: 5px;
    margin-left: 5px;
}

#boton_busqueda{
    display: flex;
    position: fixed;
    left: 960px;
    align-items: center;
    cursor: pointer;
    background-color: #282F44;
    color: #fff;
}

#clue{
    margin-left: 3px;
}