.principal_section {
    background-image: url("../images/plane-photo.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: calc(100vh - 80px);
}